@page "{name?}"
@model BarManager.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Favorite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Favorite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeIngredients)
        </dt>
        <dd class="col-sm-10">
            <table class="d-sm-table">
                <tr class="d-sm-table-row">
                    <th class="d-sm-table-cell"></th>
                    <th class="d-sm-table-cell">Ingredient</th>
                    <th class="d-sm-table-cell">Required</th>
                </tr>
                @foreach (var item in Model.Recipe.RecipeIngredients)
                {
                    <tr class="d-sm-table-row">
                        <td class="d-sm-table-cell">
                        </td>
                        <td class="d-sm-table-cell">
                            @Html.DisplayFor(modelItem => item.Amount) - @Html.DisplayFor(modelItem => item.Ingredient.Name)
                        </td>
                        <td class="d-sm-table-cell">
                            @Html.DisplayFor(modelItem => item.Required)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Instructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Rating)
        </dt>
        <dd class="col-sm-10">
            <input id="rating" class="kv-ltr-theme-svg-star rating-loading rating-disabled" value="@Model.Recipe.Rating" dir="ltr" data-size="xs" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.UpdatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" name="id" asp-for="Recipe.RecipeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
