@page
@model BarManager.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Ingredients";
}

<h1>Ingredients</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].Favorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].Owned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-name="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    <input class="form-check-inline favoriteCheck" id="@item.IngredientID" asp-for="@item.Favorite" />
                </td>
                <td>
                    <input class="form-check-inline ownedCheck" id="@item.IngredientID" asp-for="@item.Owned" />
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-name="@item.Name">Edit</a> |
                    <a asp-page="./Details" asp-route-name="@item.Name">Details</a> |
                    <a asp-page="./Delete" asp-route-name="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>